.button {
  width: 180px;
  height: 40px;
  background: transparent;
  color: white;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  margin: 3rem auto;
  display: block;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.button1 {
  background: linear-gradient(0deg, blue, rgba(0, 0, 255, 0.719));
}
.button1:hover {
  background: linear-gradient(0deg, rgb(2, 47, 248), rgba(4, 132, 252, 0.63));
}
.button2 {
  background: linear-gradient(0deg, rgb(17, 57, 165), rgb(20, 76, 161));
}
.button2:hover {
  box-shadow: -4px -4px 6px 0 rgba(80, 79, 79, 0.4),
    inset -2px -2px 2px 0 rgba(255, 255, 255, 0.5),
    2px 2px 4px 0 rgba(252, 252, 252, 0.4),
    inset 4px 4px 4px 0 rgb(0, 0, 0, 0.4);
}

/* button 3 */

.button3 {
  background: linear-gradient(0deg, rgb(236, 96, 53), rgba(236, 96, 53, 0.719));
  position: relative;
}
.button3:hover {
  background: transparent;
  box-shadow: none;
  color: black;
}
.button3::before,
.button3:after {
  content: "";
  background-color: rgb(236, 96, 53);
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
}
.button3::before {
  width: 2px;
  height: 0;
}
.button3::after {
  width: 0;
  height: 2px;
}
.button3:hover::before {
  height: 100%;
}
.button3:hover::after {
  width: 100%;
}
.button3 span::before,
.button3 span::after {
  content: "";
  background-color: rgb(236, 96, 53);
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}
.button3 span::before {
  width: 2px;
  height: 0;
}
.button3 span::after {
  width: 0;
  height: 2px;
}
.button3:hover span::before {
  height: 100%;
}
.button3:hover span::after {
  width: 100%;
}

/* button 4 */

.button4 {
  background: linear-gradient(0deg, hotpink, rgba(255, 105, 180, 0.705));
  position: relative;
}
.button4:hover {
  background: transparent;
  color: deeppink;
  box-shadow: none;
}
.button4::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: deeppink;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 400ms ease-in;
}
.button4:hover::before {
  width: 100%;
}
.button4 span::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: deeppink;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 400ms ease-in;
}
.button4:hover span::after {
  width: 100%;
}

/* button 5 */

.button5 {
  background: radial-gradient(
    circle,
    rgb(18, 136, 145) 0%,
    rgb(214, 214, 97) 100%
  );
  position: relative;
  border: none;
  transition: all 400ms ease;
  line-height: 24px;
}
.button5:hover {
  box-shadow: none;
  background: transparent;
  color: #e8edea;
}

.button5::before,
.button5::after {
  content: "";
  height: 1px;
  width: 0;
  position: absolute;

  box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.button5::before {
  top: 0;
  right: 0;
  transition: all 400ms ease;
}
.button5::after {
  bottom: 0;
  left: 0;
  transition: all 400ms ease;
}
.button5:hover::before,
.button5:hover::after {
  width: 100%;
}
.button5 span:before,
.button5 span:after {
  content: "";
  height: 0;
  width: 0.5px;
  position: absolute;
  box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.button5 span:before {
  top: 0;
  left: 0;
  transition: all 400ms ease;
}
.button5 span:after {
  bottom: 0;
  right: 0;
  transition: all 400ms ease;
}
.button5:hover span::before,
.button5:hover span::after {
  height: 100%;
}
